.header {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    gap: 80px;
}

.hero_text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero_secondary,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero_text,
.hero_secondary {
    width: 400px;
}

.hero_secondary {
    margin: 8px 0;
}

.hero_img {
    display: flex;
    background-color: gray;
    color: #e5e7eb;
    width: 550px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 32px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.information_header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information_container {
    display: flex;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.info_img {
    width: 165px;
    height: 165px;
    border: 5px #3882f6 solid;
    border-radius: 10px;
}

.info_text {
    width: 165px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 10px;
    background-color: #e5e7eb;
}

.quote_text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 750px;
}

.quote_author {
    display: flex;
    margin-left: 450px;
    font-size: 24px;
    font-weight: bold;
}

.call_to_action {
    width: 800px;
    border-radius: 10px;
    padding: 60px;
    margin: 100px auto;
    gap: 100px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_to_action_header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.call_to_action_secondary {
    color: #f9faf8;
    font-weight: lighter;
}

.call_to_action_button {
    border: 2px #f9faf8 solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: 40px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}
